<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>FIDO2 Server Demo</title>
</head>
<body>
<div th:replace="header :: header">...</div>
<div>
    <form action="/welcome" method="POST" id="form">
        <legend>Login</legend>
        <label for="username">Your Username:</label>
        <input type="text" id="username" name="username">
        <input type="hidden" id="credential" name="credential">
    </form>
    <button id="submit" onclick="checkCredentials();">Submit</button>
</div>
</body>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script type="module" src="/js/webauthn.js"></script>
</html>