<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>FIDO2 Server Demo</title>
</head>
<body>
<div th:replace="header :: header">...</div>
<div>
    <div id="errors"></div>
    <form id="form" action="/registerauth" method="POST">
        <legend>Register Authentication</legend>
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div>
            <label for="displayName">Display Name:</label>
            <input type="text" name="displayName" id="displayName" required>
        </div>
        <div>
            <label for="credentialName">Authenticator Name:</label>
            <input type="text" name="credentialName" id="credentialName" required>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
<script src="node_modules/base64-js/base64js.min.js"></script>
<script src="javascript/custom.js"></script>
<script src="javascript/registerauth.js"></script>
</html>