<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>FIDO2 Server Demo</title>
</head>
<body>
<div th:replace="header :: header">...</div>
<div>
    <legend>Register Authentication</legend>
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
    </div>
    <div>
        <label for="displayName">Display Name:</label>
        <input type="text" name="displayName" id="displayName" required>
    </div>
    <button id="registerButton">Register</button>
</div>
</body>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="/js/base64js.min.js"></script>
<script src="/js/webauthn.js"></script>
</html>